{{/*    */}}
{{/*  ---------------------------------------  */}}

{{/*  <section class="banner">

  <div class="circular-text">Dangerous Curves Ahead</div>


</section>

<section class="hero">
  <div class="hero__top rotate">
    <iframe class="hero__top__content" src="/radiant__top.svg" style="border: none;"></iframe>
  </div>
  
  <div class="hero__bottom">
    <iframe class="hero__bottom__content" src="/radiant__bottom.svg" style="border: none;"></iframe>
  </div>
<div class="hero__contents">
  <iframe class="hero__contents_logo" src="/logo-with-bubbles.svg" style="border: none;"></iframe>
</div>
</section>  */}}

{{/*  ---------------------------------------  */}}


{{/*  <div class="hero__bottom__content"></div>  */}}



{{/*  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js" defer></script>
<script defer>
document.addEventListener('DOMContentLoaded', function() {
gsap.registerPlugin(ScrollTrigger);

gsap.to('.myElement', {
  scrollTrigger: '.myElement', // start the animation when ".box" enters the viewport (once)
  x: 500
});
});
</script>  */}}



  {{/*  <div class="hero-content">
    {{ $heroData := .Site.Data.hero_content }}
    {{ $pageType := .Type }}
    {{ $data := index $heroData $pageType }}
    {{ if not $data }}
        {{ $data = index $heroData "default" }}
    {{ end }}

    <h1>{{ $data.heading }}</h1>
    <p>{{ $data.subheading }}</p>
    <a href="{{ $data.cta_link }}" class="cta-button">{{ $data.cta_text }}</a>
  </div>  */}}
